*.py[co]
*.sw[op]
*.workdir/
*.xz
.DS_Store
.lock*
*.egg
*.whl
*.egg-info/
*.dist-info/
*__pycache__/

/build
/release
/*zippy*.dsc
/*zippy*.tar.gz
/*zippy*.changes
/*zippy*.deb
/extern/sources/*

test-results.xml

!README
!README.*
